dist: trusty
group: travis_latest
services: docker
env:
  global:
  - GIT_BRANCH="$TRAVIS_BRANCH" # Specify the branch name manually when on a detached HEAD
  matrix:
  - DOCKER_BUILD_PATH=ls/ DOCKER_REPO=vladgh/ls
  - DOCKER_BUILD_PATH=ps/ DOCKER_REPO=vladgh/ps
  - DOCKER_BUILD_PATH=rs/ DOCKER_REPO=vladgh/rs
install:
- git clone https://github.com/vghn/vgs.git ~/vgs
- sudo apt-get -qy update && sudo apt-get -qy -o Dpkg::Options::="--force-confdef"
  -o Dpkg::Options::="--force-confold" install docker-ce
  docker --version
- |
  mkdir -p ~/bin
  export PATH="${PATH}":~/bin
  export GOSS_DST=~/bin
  curl -fsSL https://goss.rocks/install | sh
  goss -version
script:
- ~/vgs/scripts/docker.sh build
- echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
- if [[ "$TRAVIS_BRANCH" == "master" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then ~/vgs/scripts/docker.sh push; fi
- if [[ "$TRAVIS_TAG" =~ ^v[0-9]+ ]]; then ~/vgs/scripts/docker.sh push && ~/vgs/scripts/docker.sh tag; fi
- MICROBADGER_TOKENS_FILE=.microbadger && ~/vgs/scripts/docker.sh notify
notifications:
  webhooks:
    urls: https://vbot.ghn.me/travis
  slack:
    secure: KG0hzxJtvMPyyg9JfLNlQRvQ6dP0DOCi9BdXXAYU9sIDu+mc5ofLEQ/WfVoAcglBZ4zfEJhSHYBWOOi1bTfJgWtOKugfZtk9v6k4kRTI7UrCvS0H1z+jK1dMVxZPkkN+x+Qt9XuZAON2uOlJ+2AbZRg9+JmAsLl7R5tyLcdQOOqYGLy06PTpCH8P5Rh7/1HOddSmRvIxJSpSA2wR4g6RIsEq3v2PcqfXAShuDr3tHJlXoaFzub6R8mEcdWUMwSMTRcaTOQaYdjmshEYvVLO95Cwt+sg0Psz0L0TO3eKMSCvJRh4+R5ocjO6h2sSvZEhIPOllhUhvCNoIopvzkCfp2eqZxrinfSMqA5vyM0jVI4/ynN01XpogUl40VVO9DdCkdGDFa/lJ6vKn4lUGb0YGygndzB1gTztBMar39ahQjRmvP9FON4aJrBZuC3ZzMTtcvADevKwGhl3du8yapNzbyN9VYqu3FNrvaCDeRgbO4863S5npkOvKSfZYxMap2chPb24jDFQMgd+SjCG+ABJCiLVrO61DNViIBpLFlMhtTXUGAZSWoR21xS1qTcRcqTgF2LSJYaaBYvKFs2BUlhXj/G+N2vHU8x21h9aJNeTk7RrcylSQcjQgzvqQZ1/SH7+BPKtS2GBzWv72fP9eVSeTKhqdA4Ug2XI+13HuCy59Ovs=
