dist: trusty
group: travis_latest
services: docker
env:
  global:
  - DOCKER_NAMESPACE=vladgh
  matrix:
  - BUILD_PATH=/ls DOCKER_REPO=vladgh/ls
  - BUILD_PATH=/ps DOCKER_REPO=vladgh/ps
  - BUILD_PATH=/rs DOCKER_REPO=vladgh/rs
install:
- sudo apt-get -qy update && sudo apt-get -qy -o Dpkg::Options::="--force-confdef"
  -o Dpkg::Options::="--force-confold" install docker-ce
  docker --version
- |
  mkdir -p ~/bin
  export PATH="${PATH}":~/bin
  export GOSS_DST=~/bin
  curl -fsSL https://goss.rocks/install | sh
  goss -version
script:
- ./scripts/docker.sh build
- ./scripts/docker.sh test
- echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
- if [[ "$TRAVIS_BRANCH" == "master" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then ./scripts/docker.sh push; fi
- if [[ "$TRAVIS_TAG" =~ ^v[0-9]+ ]]; then ./scripts/docker.sh push && ./scripts/docker.sh tag; fi
- ./scripts/docker.sh notify
notifications:
  webhooks:
    urls: https://vbot.ghn.me/travis
  slack:
    secure: n4zlSRILuHPorcEezRGHIMriCzjzspNpjgcJj7j3s9NElQAISOHUjw2NKGEH/Rpo3odQe3TFuxAz+th9om/LuONAyApR+Ph4gzMLfoEl+i5ORQx0Q+679o08RrY+fqIUCX+m5BjAElagPgQ+MCnEXqL5+IiLen7cPmJuY6nyQS15eVMDYdnt0e5NDyYSDQyVOMK1ErwdsiBsIMqVy7cqlCB9Bd+OgzmAua+IVepr7IKLg2N4IuXEvzfx17y7ZKnUtSelzU6muULMhwiizhdLPBSn0cGNbFBzqnnm+oxfy2JwTc871uOTP8u1eMi/CCzaZjtYyfoYMT+rwUoFDzwJw0Mp6zXkwQdURQh/pmJGgXkDyxuN8ZKPh4G2JvwW02D+15ZqyNdLtQJM1PvpJpj3bNy/+A1xugJ8KdrSb3m2OpRdqbfAgi7086dqpOV/HMJYzsH0zeLFaLDF8WvKjjsmLil41oYhIxKxOXfHBHRJfcqnYCN97bxuqk9fFBE2tZwA9Im4xlAAmc748LYWnNgs1CvyBMOjNJN/RRuDkcLhWsgcpbR1ByteBX0YiOZ7z26MFuHl++Coq81iW2WZHl5Ra+t6kdshFHTJxv0aM67y9jidAq1q0Q6idEj/JEqOazLXuqhedLGPwa9Knd48H/8WNwU3x9V1BS0a2JAFpygnHug=
