dist: trusty
group: travis_latest
language: ruby
services: docker
branches:
  except:
  - "/^v\\d/"
cache:
  directories:
  - vendor/bundle
env:
  global:
  - DOCKER_REPOSITORY=vladgh
  matrix:
  - IMAGE=lb MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/lb/aYrA0-kryIhSzt0zvxo9pV33P94='
  - IMAGE=le MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/le/4wI8LWxfyozselpKPwWadjnUhLU='
  - IMAGE=ls MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/ls/5GkpvX_kQE7O0SbMIOr8oRAIjF0='
  - IMAGE=ps MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/ps/mEg-V3l12ZnWx1gOq3ZmPBz-5hE='
  - IMAGE=rs MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/rs/OpUlWk6bOCeUwyKDuYMbChRXAR8='
  - IMAGE=wh MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/wh/U6IY-vaxZ2FZhFWxA3QKpUKGjeg='
before_install:
- sudo apt-get -qy update && sudo apt-get -qy -o Dpkg::Options::="--force-confdef"
  -o Dpkg::Options::="--force-confold" install docker-ce
- docker --version
install: bundle install --without development --path vendor/bundle
script:
- bundle exec rake docker:${IMAGE}:build
- bundle exec rake docker:${IMAGE}:spec
- if [[ "$TRAVIS_PULL_REQUEST" == "false" ]] && [[ "$TRAVIS_BRANCH" == "master" ]]; then
  echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin;
  bundle exec rake docker:${IMAGE}:push;
  curl -X POST "$MICROBADGER_WEBHOOK"; fi
notifications:
  webhooks:
    urls: https://vbot.ghn.me/travis
  slack:
    secure: n4zlSRILuHPorcEezRGHIMriCzjzspNpjgcJj7j3s9NElQAISOHUjw2NKGEH/Rpo3odQe3TFuxAz+th9om/LuONAyApR+Ph4gzMLfoEl+i5ORQx0Q+679o08RrY+fqIUCX+m5BjAElagPgQ+MCnEXqL5+IiLen7cPmJuY6nyQS15eVMDYdnt0e5NDyYSDQyVOMK1ErwdsiBsIMqVy7cqlCB9Bd+OgzmAua+IVepr7IKLg2N4IuXEvzfx17y7ZKnUtSelzU6muULMhwiizhdLPBSn0cGNbFBzqnnm+oxfy2JwTc871uOTP8u1eMi/CCzaZjtYyfoYMT+rwUoFDzwJw0Mp6zXkwQdURQh/pmJGgXkDyxuN8ZKPh4G2JvwW02D+15ZqyNdLtQJM1PvpJpj3bNy/+A1xugJ8KdrSb3m2OpRdqbfAgi7086dqpOV/HMJYzsH0zeLFaLDF8WvKjjsmLil41oYhIxKxOXfHBHRJfcqnYCN97bxuqk9fFBE2tZwA9Im4xlAAmc748LYWnNgs1CvyBMOjNJN/RRuDkcLhWsgcpbR1ByteBX0YiOZ7z26MFuHl++Coq81iW2WZHl5Ra+t6kdshFHTJxv0aM67y9jidAq1q0Q6idEj/JEqOazLXuqhedLGPwa9Knd48H/8WNwU3x9V1BS0a2JAFpygnHug=
