language: ruby
rvm: 2.2
services: docker
cache:
  directories:
    - vendor/bundle
branches:
  except:
    - /^v\d/
env:
  global:
    - DOCKER_REPOSITORY=vladgh
    - DOCKER_IMAGE_PREFIX=vpm-
    - DOCKER_BUILD_ARGS=false
  matrix:
    - IMAGE=api MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/vpm-api/PBcHv5lkwKizG6tVusgUQtvx99c='
    - IMAGE=server MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/vpm-server/q6ABG6ghDr0SoVFXAZ8V6Y0kqdA='
    - IMAGE=sync MICROBADGER_WEBHOOK='https://hooks.microbadger.com/images/vladgh/vpm-sync/2lhGgK0gfhuV-IBYhso7adDxJzA='
before_install:
  - sudo apt-get -qy update;
    sudo apt-get -qy -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" install docker-engine
install: bundle install --path vendor/bundle
script:
  - bundle exec rake ${IMAGE}:build
  - bundle exec rake ${IMAGE}:spec
before_deploy:
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
    echo "$DEPLOY_RSA" | base64 --decode --ignore-garbage > ~/.ssh/deploy_rsa;
    chmod 600 ~/.ssh/deploy_rsa;
    eval "$(ssh-agent -s)";
    ssh-add ~/.ssh/deploy_rsa;
    ssh-keyscan -H puppet.ghn.me >> ~/.ssh/known_hosts;
    fi
deploy:
  provider: script
  script: if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
          bundle exec rake ${IMAGE}:push;
          ssh ubuntu@puppet.ghn.me "/opt/vpm/bin/deploy ${IMAGE}";
          fi;
          curl -X POST "$MICROBADGER_WEBHOOK"
  skip_cleanup: true
  on:
    all_branches: true
notifications:
  webhooks:
    urls: https://puppet.ghn.me/travis
  slack:
    secure: "n4zlSRILuHPorcEezRGHIMriCzjzspNpjgcJj7j3s9NElQAISOHUjw2NKGEH/Rpo3odQe3TFuxAz+th9om/LuONAyApR+Ph4gzMLfoEl+i5ORQx0Q+679o08RrY+fqIUCX+m5BjAElagPgQ+MCnEXqL5+IiLen7cPmJuY6nyQS15eVMDYdnt0e5NDyYSDQyVOMK1ErwdsiBsIMqVy7cqlCB9Bd+OgzmAua+IVepr7IKLg2N4IuXEvzfx17y7ZKnUtSelzU6muULMhwiizhdLPBSn0cGNbFBzqnnm+oxfy2JwTc871uOTP8u1eMi/CCzaZjtYyfoYMT+rwUoFDzwJw0Mp6zXkwQdURQh/pmJGgXkDyxuN8ZKPh4G2JvwW02D+15ZqyNdLtQJM1PvpJpj3bNy/+A1xugJ8KdrSb3m2OpRdqbfAgi7086dqpOV/HMJYzsH0zeLFaLDF8WvKjjsmLil41oYhIxKxOXfHBHRJfcqnYCN97bxuqk9fFBE2tZwA9Im4xlAAmc748LYWnNgs1CvyBMOjNJN/RRuDkcLhWsgcpbR1ByteBX0YiOZ7z26MFuHl++Coq81iW2WZHl5Ra+t6kdshFHTJxv0aM67y9jidAq1q0Q6idEj/JEqOazLXuqhedLGPwa9Knd48H/8WNwU3x9V1BS0a2JAFpygnHug="
